<div class="block">
  <div class="col-wrapper">
    <div class="col-12">
      <h2 class="block-subtitle">Home page</h2>
      <p class="block-paragraph --panel">
        Donec tincidunt lacinia pellentesque. Praesent a nibh orci. Nulla
        blandit fringilla magna nec sodales. Vivamus ante felis, tristique in ex
        a, fringilla hendrerit mi. Cras vehicula id dolor a tristique.
      </p>
    </div>
  </div>
</div>
<div class="block">
  <div class="col-wrapper">
    <div class="col-4">
      <h2 class="block-subtitle">Omnis iste !</h2>
      <p class="block-paragraph --warn">
        Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis
        voluptatibus maiores alias consequatur aut perferendis doloribus
        asperiores repellat.
      </p>
      <p class="block-paragraph">
        Sed ut perspiciatis unde omnis iste natus error sit voluptatem
        accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab
        illo inventore veritatis et quasi architecto beatae vitae dicta sunt
        explicabo.
      </p>
    </div>
    <div class="col-8">
      <p class="block-paragraph">
        <img src="/assets/images/crate.png" alt="Convelio crate" />
      </p>
    </div>
  </div>
</div>
